<script lang="ts">
	import Nav from './Nav.svelte';
	import MapBackground from './MapBackground.svelte';
	import MapPoint from './MapPoint.svelte';
	import Thumb from './thumb.svelte';
	export let data;
	import Description from './Description.svelte';
	import ProjectModal from './ProjectModal.svelte';
	import nav from './navStore';
	const row = 9,
		col = 9;
	let grid: object[] = [];
	data.posts.forEach((post) => {
		createRandomPosition(grid, post);
	});
	function createRandomPosition(grid: object[], post: object) {
		let x = Math.round(Math.random() * 7) + 2;
		let y = Math.round(Math.random() * 7) + 2;
		let position = { x: x, y: y };
		let isInGrid =
			grid.find((pos) => {
				return pos.x === position.x && pos.y === position.y;
			}) != undefined;

		if (isInGrid) {
			createRandomPosition(grid, post);
		} else {
			grid.push(position);
			post.position = position;
		}
	}
	let ul;
	let isMouseIn = false;
	let mousePos: object;
	function handleMousemove(event) {
		mousePos = { x: event.clientX, y: event.clientY };
	}
	function handleMouseEnter() {
		isMouseIn = true;
	}
	function handleMouseLeave() {
		isMouseIn = false;
	}

	function handleMessage(event: Object) {
		event.detail.status ? nav.focus(event.detail.index) : nav.unFocus();
	}
	let posts = data.posts.map((post, index) => {
		post.index = index;
		return post;
	});
	console.log(posts);
	
</script>

<main>
	<Nav {posts} />
	<div id="project">
		<ProjectModal post={posts[$nav.focus]} />
	</div>
	<div id="wrapper">
		<div id="map">
			{#if $nav.focus >= 0}
				<Thumb post={posts[$nav.focus]} />
				<Description post={posts[$nav.focus]} />
			{/if}
			<ul
				bind:this={ul}
				id="grid"
				style="grid: repeat({row}, 40px) / repeat({col}, 40px);"
				on:mousemove={handleMousemove}
				on:mouseleave={handleMouseLeave}
				on:mouseenter={handleMouseEnter}
			>
				{#each data.posts as post, index}
					<MapPoint on:message={handleMessage} {post} {index} />
				{/each}
				<MapBackground {posts} {mousePos} {isMouseIn} />
			</ul>
		</div>
	</div>
</main>

<style lang="scss">
	:global(body) {
		width: 100vw;
		height: 100vh;
		background-color: #fff;
	}
	:global(li) {
		list-style: none;
	}
	main {
		display: grid;
		height: 100vh;
		max-width: 1000px;
		margin: auto;
		grid-template-columns: 2fr 1fr;
	}

	div#wrapper {
		position: relative;
		grid-column: 1/2;
		width: 100%;
		height: 100%;
	}

	#map {
		display: grid;
		grid-template-rows: 200px calc(40px * 9) 150px;
		grid-template-columns: 400px;
		position: absolute;
		bottom: 100px;
		width: calc(40px * 9);
		transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateY(0px);
	}
	ul {
		grid-column: 1;
		grid-row: 2/3;
		display: grid;
		width: 100%;
		height: 100%;
		grid-gap: 0;
		align-items: center;
		justify-content: center;
	}
	.cell {
		width: 10px;
		height: 10px;
		background-color: #fff;
		border-radius: 100%;
		border: solid #aaa 0.05em;
		justify-self: center;
	}
</style>
