<script>
	import { slide } from 'svelte/transition';

	export let post;
</script>

{#key post}
	<div in:slide={{ duration: 300, axis: 'y', delay: 300 }} out:slide={{ duration: 300, axis: 'y' }}>
		{#if post.meta.description}
			<p id="description">{post.meta.description}</p>
		{/if}
	</div>
{/key}

<style lang="scss">
	div {
		grid-column: 1;
		grid-row: 3/4;
		width: 100%;
		height: 100%;
		transform: rotateX(64deg) rotateY(30deg) rotateZ(316deg) scale(1.5) translate(90px, -30px);

	}
	p {
		font-size: 18pt;
		font-weight: 300;
		margin-top: 2rem;
		margin-left: 20px;
		margin-right: 20px;
	}
</style>
