<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
	<rect width="24" height="24" fill="white" />
	<path d="M12 6V18" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" />
	<path d="M6 12H18" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" />
</svg>

<style lang="scss">
	svg {
		width: 30px;
		height: 30px;
		background-color: #fff0;
	}
</style>
