<script lang="ts">
	import { onMount } from 'svelte';
	import gsap from 'gsap';
	export let posts: [],
		mousePos: Object = { x: 0, y: 0 },
		isMouseIn: boolean;

	const row = 9,
		col = 9;
	let emptyCells = Array(row * col - posts.length);
	let cells = [];
	let ulRect;
	let ul;
	onMount(() => {
		cells = document.getElementsByClassName('cell');
		ul = document.getElementById('grid');
		ulRect = ul.getBoundingClientRect();
		animationReset();
	});
	$: {
		if (isMouseIn) {
			[].slice.call(cells).forEach((element) => {
				let rect = element.getBoundingClientRect();
				let cellX = rect.x + rect.width / 2;
				let cellY = rect.y + rect.height / 2;
				let cellPos = { x: cellX, y: cellY };
				let d = Math.round(distance(mousePos, cellPos));
				let elevation: Number;
				elevation = gsap.utils.clamp(-30, 0, gsap.utils.mapRange(0, 100, -30, 0, d));
				gsap.to(element, { x: elevation, y: elevation, duration: 0.2, delay: 0.3 });
			});
		} else {
			gsap.to(cells, { x: 0, y: 0, duration: 0.2, delay: 0.5 });
		}
	}

	function distance(d1: object, d2: object) {
		return Math.sqrt(Math.pow(d1.x - d2.x, 2) + Math.pow(d1.y - d2.y, 2));
	}

	let posAnimation = { x: 0, y: 0 };
	function animationReset() {
        
		let x = gsap.utils.random(ulRect.x, ulRect.x + ulRect.width);
		let y = gsap.utils.random(ulRect.y, ulRect.y + ulRect.height);
		posAnimation = { x: x, y: y };
        
		!isMouseIn ? animation(): setTimeout(animationReset, 100);
	}

	function animation() {
		if (!isMouseIn) {
			posAnimation.x += 1;
			posAnimation.y += 1;

			[].slice.call(cells).forEach((element) => {
				let rect = element.getBoundingClientRect();
				let cellX = rect.x + rect.width / 2;
				let cellY = rect.y + rect.height / 2;
				let cellPos = { x: cellX, y: cellY };
				let d = Math.round(distance(posAnimation, cellPos));
				let elevation: Number;
				elevation = gsap.utils.clamp(-30, 0, gsap.utils.mapRange(0, 100, -30, 0, d));
				gsap.to(element, { x: elevation, y: elevation, duration: 0.05 });
			});
			let out =
				posAnimation.x < ulRect.x ||
				posAnimation.x > ulRect.x + ulRect.width ||
				posAnimation.y < ulRect.y ||
				posAnimation.y > ulRect.y + ulRect.width;
			if (out) {
				setTimeout(animationReset, 100);
			} else {
				setTimeout(animation, 10);
			}
		} else {
			setTimeout(animationReset, 100);
		}
	}
</script>

{#each emptyCells as cell}
	<div class="cell" />
{/each}

<style lang="scss">
	:global(body) {
		width: 100vw;
		height: 100vh;
		background-color: #fff;
	}
	:global(li) {
		list-style: none;
	}
	main {
		display: grid;
		height: 100vh;
		grid-template-columns: 1fr 2fr;
	}
	#nav {
		grid-column: 1/2;
	}
	div#wrapper {
		position: relative;
		grid-column: 2/3;
		width: 100%;
		height: 100%;
	}
	h1 {
		font-family: 'Playfair Display', serif;
		font-weight: 100;
	}
	#map {
		display: grid;
		grid-template-rows: 300px calc(40px * 9) 150px;
		grid-template-columns: 400px;
		position: absolute;
		bottom: 0px;
		right: 50px;
		width: calc(40px * 9);
		transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateY(300px);
	}
	ul {
		grid-column: 1;
		grid-row: 2/3;
		display: grid;
		width: 100%;
		height: 100%;
		grid-gap: 0;
		align-items: center;
		justify-content: center;
	}
	.cell {
		width: 4px;
		height: 4px;
		background-color: #aaa;
		border-radius: 100%;
		border: solid #aaa 0.05em;
		justify-self: center;
	}
</style>
