<script lang="ts">
	import PastSVG from './PastSVG.svelte';

	import CurrentSVG from './CurrentSVG.svelte';

	import FutureSVG from './FutureSVG.svelte';

	export let post = {},
		index: Number;
	import { onMount } from 'svelte';
	import gsap from 'gsap/dist/gsap';
	import nav from './navStore';
	// Create a timeline
	let tl = gsap.timeline({
		delay: 0.1,
		paused: true
	});
	let div;
	let text;
	let hint;
	onMount(() => {
		// Sequence multiple tweens
		tl.fromTo(div, { duration: 0.2, x: 0, y: 0, paused: true }, { x: -20, y: -20,scale: 1.2, zIndex: 1 });
		tl.fromTo(hint, { duration: 0.2, height: 0 }, { height: 50 }, '<0.5');
		tl.to(div, { borderColor: '#aaa' });
	});

	function enter() {
		tl.play();
		nav.focus(index);
	}
	function leave() {
		tl.reverse();
		nav.unFocus();
	}
	$: {
		if (index === $nav.focus) {
			tl.play();
		} else {
			tl.reverse();
		}
	}
</script>

<li
	on:mouseenter={enter}
	on:mouseleave={leave}
	style="grid-column: {post.position.x}; grid-row: {post.position.y}"
>
	<div class="point {post.meta.status}" bind:this={div}>
		{#if post.meta.status === 'future'}
			<FutureSVG />
		{:else if post.meta.status === 'current'}
			<CurrentSVG />
		{:else if post.meta.status === 'past'}
			<PastSVG />
		{/if}
	</div>
	<div class="hint" bind:this={hint} />
</li>

<style lang="scss">
	li {
		list-style: none;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	.point {
		width: 30px;
		height: 30px;
		transform-origin: center;
		transform: translate(0, 0);
		//background-color: red;
		border-radius: 100%;
		border: solid 1px #fff;
		display: flex;
		position: relative;
	}
	/*
	.future {
		opacity: 0.8;
		background-color: orange;
	}
	.past {
		opacity: 0.5;
		background-color: #red;
	}
	.current {
		background-color: red;
	}
	*/
	.hint {
		display: none;
		width: 0;
		height: 0;
		bottom: 50px;
		left: 8px;
		border-left: solid #aaa 1px;
		transform-origin: bottom;
		transform: translateZ(1px) rotateZ(-45deg);
		position: absolute;
		z-index: -1;
	}
</style>
