<script lang="ts">
	import NavProject from './NavProject.svelte';

	export let posts: Object[];

	import FutureSvg from './FutureSVG.svelte';
	import CurrentSvg from './CurrentSVG.svelte';
	import PastSvg from './PastSVG.svelte';
	import QuestionSvg from './QuestionSVG.svelte';

	let future = posts.filter((post) => post.meta.status === 'future');
	let current = posts.filter((post) => post.meta.status === 'current');
	let past = posts.filter((post) => post.meta.status === 'past');
</script>

<div id="nav">
	<div class="sub-menu">
		<div class="sub-menu-icon">
			<FutureSvg />
		</div>
		<h3 class="sub-menu-title">FUTURE</h3>
		<ul class="sub-menu-content">
			{#each future as post}
				<NavProject {post} />
			{/each}
		</ul>
	</div>
	<div class="sub-menu">
        <div class="sub-menu-icon">
			<CurrentSvg />
		</div>
		<h3 class="sub-menu-title">CURRENT</h3>
		<ul class="sub-menu-content">
			{#each current as post}
				<NavProject {post} />
			{/each}
		</ul>
	</div>
	<div class="sub-menu">
        <div class="sub-menu-icon">
			<PastSvg />
		</div>
		<h3 class="sub-menu-title">PAST</h3>
		<ul class="sub-menu-content">
			{#each past as post}
				<NavProject {post} />
			{/each}
		</ul>
	</div>
    <div class="sub-menu">
        <div class="sub-menu-icon">
			<QuestionSvg />
		</div>
		<h3 class="sub-menu-title">ABOUT</h3>
	</div>
</div>

<style lang="scss">
	#nav {
		grid-column: 2/3;
		margin-left: 2rem;
        align-self: end;
	}
	.sub-menu {
		display: grid;
		grid-template-rows: 50px 1fr;
		grid-template-columns: 70px 1fr;
	}
	.sub-menu-icon {
		grid-column: 1/2;
		grid-row: 1/2;
		align-self: center;
		justify-self: center;
	}
	.sub-menu-title {
		grid-column: 2/3;
		grid-row: 1/2;
		align-self: center;
		justify-self: left;
	}
	.sub-menu-content {
		grid-column: 2/3;
		grid-row: 2/3;
	}
	h2 {
	}
	h3 {
		font-weight: 400;
	}
</style>
