<script lang="ts">
	export let post;
	import nav from './navStore';
	function enter() {
		nav.focus(post.index);
	}
	function leave() {
		nav.unFocus();
	}
	let focused = false;
	$: {
		focused = post.index == $nav.focus;
	}
</script>

<li>
	<a class:focused on:mouseenter={enter} on:mouseleave={leave} href={post.path}
		><h3>{post.meta.title}</h3></a
	>
</li>

<style lang="scss">
	h3 {
		:hover {
			font-weight: 300;
		}
		font-weight: 100;
	}
	a {
		font-weight: 200;
		display: block;
		width: fit-content;
		color: inherit;
		text-decoration: inherit;
		transition: opacity ease 0.2s;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
	.focused {
		opacity: 1;
	}
</style>
