<script lang="ts">
	import { fade } from 'svelte/transition';
	import { onMount } from 'svelte';
	import gsap from 'gsap/dist/gsap';
	export let post;
	console.log(post);
	
	let image;
	let tl = gsap.timeline({
		delay: 0.1
	});
	let text;
	onMount(() => {
		tl.fromTo(
			text,
			{
				width: '0',
				delay: 0.2,
				duration: 8
			},
			{
				width: '20.18em',
				ease: 'steps(20)'
			}
		);
	});
</script>

<div transition:fade>
	<img src={`/${post.path}/1.jpg`} />
	<h2 bind:this={text}>
		{post.meta.date} - {post.meta.title}
	</h2>
	<ul class="categories">
		{#if post.meta.categories && post.meta.categories.length > 0}
			{#each post.meta.categories as category}
				<li>
					{category}
				</li>
			{/each}
		{/if}
	</ul>
</div>

<style>
	div {
		grid-column: 1;
		grid-row: 1/2;
		width: 90%;
		height: 100%;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-row: 5fr 1fr;
		transform: rotateX(64deg) rotateY(30deg) rotateZ(315deg) scale(2) translate(0px, -25px);
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	h2 {
		display: none;
		margin-top: 1rem;
		font-weight: 400;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		overflow: hidden;
		width: 0;
		height: 1em;
		position: absolute;
		font-size: 1em;
	}
	ul {
		font-weight: 200;
		margin-left: 0.5rem;
		grid-column: 2 / 3;
		grid-row: 1 / 3;
	}
</style>
